ToDo: diffs FF51-FF52

[v51.0 vs v52.0](https://github.com/earthlng/FFprefs-diffs/blob/master/diff-v51.0-vs-v52.0.log.js). List below edited 07-Mar to add 52 final changes. Link updated to stable diff

## new in v52
* [x] pref("signon.autofillForms.http", false); https://github.com/ghacksuserjs/ghacks-user.js/commit/3e27f5bb786311b78fc91a84b2bc53429efbae4a 
* [x] pref("security.insecure_field_warning.contextual.enabled", true); https://github.com/ghacksuserjs/ghacks-user.js/commit/3e27f5bb786311b78fc91a84b2bc53429efbae4a
* [x] pref("network.http.referer.XOriginTrimmingPolicy", 0); https://github.com/ghacksuserjs/ghacks-user.js/commit/f87a860188225694277b7db0a1c05f1b9558bcad
* [x] pref("network.cookie.leave-secure-alone", true); https://github.com/ghacksuserjs/ghacks-user.js/commit/7be1dad1cd64e74aa03e5d41a87dc54cf6d6712a
* [x] pref("font.system.whitelist", ""); https://github.com/ghacksuserjs/ghacks-user.js/commit/6a04e894e3ac7d1edbeeef763f01be56e89f9986
* [x] pref("security.pki.certificate_transparency.mode"
  * see [comment](https://github.com/ghacksuserjs/ghacks-user.js/issues/37#issuecomment-284156137)
  * NOTE: moved to issue 20 for later

## removed, renamed or hidden in v52
* [x] `2502` battery API irrelevant now it is chrome/privileged access only https://github.com/ghacksuserjs/ghacks-user.js/commit/13133749a442266869b046d0d6aeab03ca1db1ac
* [x] `2405` pref("dom.telephony.enabled", false); https://github.com/ghacksuserjs/ghacks-user.js/commit/022610258d937e0e329ca39780d90e8f9a5ed579
* [x] `1850 all 3 prefs` pref("media.gmp-eme-adobe.enabled", true); + pref("media.gmp-eme-adobe.visible", true); https://github.com/ghacksuserjs/ghacks-user.js/commit/022610258d937e0e329ca39780d90e8f9a5ed579
* [x] `1601` pref("network.http.sendSecureXSiteReferrer", true); https://github.com/ghacksuserjs/ghacks-user.js/commit/38bfb4ca5000d4e2a333aa6cdd58de1779d50eec

## changed in v52
* [x] pref("javascript.options.wasm", true); // prev: false https://github.com/ghacksuserjs/ghacks-user.js/commit/6504744cc8c0005e1dfc0fb86198adc546c1c099

## ignore
==NEW
* pref("app.update.timerFirstInterval", 30000);
* pref("browser.migrate.chrome.history.limit", 0);
* pref("browser.migrate.chrome.history.maxAgeInDays", 0);
* pref("browser.tabs.crashReporting.requestEmail", false);
* pref("browser.tabs.delayHidingAudioPlayingIconMS", 3000);
* pref("devtools.debugger.client-source-maps-enabled", true);
* pref("devtools.layoutview.enabled", false);
* pref("devtools.webconsole.filter.debug", true);
* pref("devtools.webconsole.filter.net", false);
* pref("devtools.webconsole.ui.filterbar", false);
* pref("dom.audiochannel.audioCompeting.allAgents", false);
* pref("dom.forms.datetime.timepicker", false);
* pref("dom.gamepad.extensions.enabled", false);
* pref("dom.idle_period.throttled_length", 10000);
* pref("dom.manifest.onappinstalled", false);
* pref("dom.requestIdleCallback.enabled", false);
* pref("dom.select_events.textcontrols.enabled", false);
* pref("dom.w3c_pointer_events.implicit_capture", false);
* pref("dom.webnotifications.requireinteraction.count", 3);
* pref("dom.webnotifications.requireinteraction.enabled", false);
* pref("gfx.canvas.skiagl.dynamic-cache", true);
* pref("identity.fxaccounts.contextParam", "fx_desktop_v3");
* pref("idle_queue.long_period", 50);
* pref("idle_queue.min_period", 3);
* pref("layers.draw-mask-debug", false);
* pref("layout.accessiblecaret.hide_carets_for_mouse_input", true);
* pref("layout.idle_period.required_quiescent_frames", 2);
* pref("layout.idle_period.time_limit", 1);
* pref("logging.config.clear_on_startup", true); [zilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1239686)
  * IF logging this clears the log on restart go see the DXR code
* pref("media.dormant-on-pause-timeout-ms", -1);
* pref("media.navigator.load_adapt.encoder_only", true);
* pref("media.peerconnection.dtmf.enabled", true); [zilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1313406)
* pref("media.wmf.vp9.enabled", false);
* pref("narrate.filter-voices", true);
* pref("network.auth.private-browsing-sso", false);
* pref("network.http.max_response_header_size", 393216);
* pref("network.http.spdy.default-hpack-buffer", 65536);
* pref("plugins.favorfallback.mode", "never");
* pref("plugins.favorfallback.rules", "");
* pref("prompts.authentication_dialog_abuse_limit", 3); [CVE](https://www.mozilla.org/en-US/security/advisories/mfsa2017-05/#CVE-2017-5419) - will enforce if it changes
* pref("security.csp.enableStrictDynamic", true);
* pref("security.enterprise_roots.enabled", false);
* pref("security.mixed_content.hsts_priming_cache_timeout", 10080);
* pref("security.sandbox.windows.log.stackTraceDepth", 0);
* pref("services.sync.log.logger.engine.extension-storage", "Debug");
* pref("services.sync.validation.interval", 86400);
* pref("services.sync.validation.maxRecords", 100);
* pref("services.sync.validation.percentageChance", 10);
* pref("webextensions.storage.sync.enabled", false);
* pref("webextensions.storage.sync.serverURL", "https://webextensions.settings.services.mozilla.com/v1");

==REMOVED or HIDDEN
* pref("app.update.cert.requireBuiltIn", false);
* pref("bidi.support", 1);
* pref("browser.search.redirectWindowsSearch", true);
* pref("devtools.command-button-pick.enabled", true);
* pref("devtools.debugger.promise", false);
* pref("dom.apps.reset-permissions", false);
* pref("dom.cellbroadcast.enabled", false);
* pref("dom.icc.enabled", false);
* pref("dom.image.picture.enabled", true);
* pref("dom.image.srcset.enabled", true);
* pref("dom.manifest.oninstall", false);
* pref("dom.MediaError.message.enabled", false);
* pref("dom.mobileconnection.enabled", false);
* pref("dom.mozApps.debug", false);
* pref("dom.mozApps.maxLocalId", 1000);
* pref("dom.mozApps.signed_apps_installable_from", "https://marketplace.firefox.com");
* pref("dom.sms.defaultServiceId", 0);
* pref("dom.sms.enabled", false);
* pref("dom.sms.maxReadAheadEntries", 0);
* pref("dom.sms.requestStatusReport", true);
* pref("dom.sms.strict7BitEncoding", false);
* pref("dom.telephony.defaultServiceId", 0);
* pref("dom.undo_manager.enabled", false);
* pref("dom.voicemail.defaultServiceId", 0);
* pref("dom.voicemail.enabled", false);
* pref("layout.css.masking.enabled", true);
* pref("media.decoder.heuristic.dormant.enabled", true);
* pref("media.decoder.heuristic.dormant.timeout", 10000);
* pref("media.format-reader.ogg", true);
* pref("media.wave.decoder.enabled", true);
* pref("media.webm.intel_decoder.enabled", false);
* pref("network.http.enable-packaged-apps", false);
* pref("network.http.signed-packages.enabled", false);
* pref("security.apps.privileged.CSP.default", "default-src * data: blob:; script-src 'self'; object-src 'none'; style-src 'self' 'unsafe-inline'");

==CHANGED
* `0201` pref("browser.search.geoip.timeout", 3000); // prev: 2000
* `0603b` pref("network.captive-portal-service.enabled", true); // prev: false
* `0608` pref("network.predictor.enable-prefetch", true); // prev: false
* `1211` pref("security.pki.sha1_enforcement_level", 3); // prev: 4
* `2509` pref("dom.w3c_touch_events.enabled", 2); // prev: 0
* `2511` pref("media.ondevicechange.enabled", true); // prev: false
* `don't want` pref("browser.shell.skipDefaultBrowserCheckOnFirstRun", false); // prev: true
* `don't want` pref("devtools.apps.forbidden-permissions", "embed-apps"); // prev: "embed-apps,embed-widgets"
* `don't want` pref("devtools.responsive.html.enabled", true); // prev: false
* `don't want` pref("dom.select_events.enabled", true); // prev: false
  * https://developer.mozilla.org/en-US/docs/Web/API/Document/onselectionchange
* `don't want` pref("gfx.content.azure.backends", "direct2d1.1,skia,cairo"); // prev: "direct2d1.1,cairo"
* `don't want` pref("layout.css.grid.enabled", true); // prev: false
* `don't want` pref("layout.css.touch_action.enabled", true); // prev: false
* `don't want` pref("layout.accessiblecaret.enabled_on_touch", true); // prev: false
* `don't want` pref("layout.accessiblecaret.use_long_tap_injector", false); // prev: true
* `don't want` pref("media.decoder-doctor.notifications-allowed", `big long string`
* `don't want` pref("media.wmf.disable-d3d11-for-dlls", `massive long string not repeating here`
* `don't want` pref("memory.low_commit_space_threshold_mb", 128); // prev: 256
* `don't want` pref("memory.low_virtual_memory_threshold_mb", 128); // prev: 256
* `don't want` pref("narrate.voice", " { \"default\": \"automatic\" }"); // prev: "automatic"
* `don't want` pref("services.sync.registerEngines", `big long string`
* `don't want` pref("services.sync.sendTabToDevice.enabled", true); // prev: false

I like these. We will do a `ToDo: diffs` for each stable release. This is handy to get to get a head start on the 52 stable, but we'll still have to double check after it lands for realsies.

Yes, that's why I made one already, so we can do a timely release for FF52.
I read somewhere that mozilla merges the beta to stable approx. 1 week before stable release date, mostly on Monday or Tuesday. So I think not much will change, if anything at all. But it's ez to compare the 2 diffs.

How should we go about using this list? add wontfix or something like that to each pref in the list? we could use strike-through for things we don't want or for things that are in the user.js already for example. or makes entries bold for things that are already covered.
Just a checkbox checked/unchecked is not very descriptive.

re: gmp-eme-adobe => we should keep 1850 for now, because it's only fully removed in FF53.

[Make Adobe Primetime CDM non-visible in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1329538)
[Stop serving Adobe CDM to Firefox 52 and higher](https://bugzilla.mozilla.org/show_bug.cgi?id=1337121)
[Remove Adobe Primetime supporting code - RESOLVED FIXED in Firefox 53](https://bugzilla.mozilla.org/show_bug.cgi?id=1329543]
-> see comment 1 for possible reason why it's only fully removed in FF53 instead of FF52

> Note: the change to make the Adobe Primetime CDM non-visible in the add-ons manager UI was done in bug 1329538 and is already in Firefox 52. The code to support the Adobe Primetime CDM was removed from gecko in bug 1329543 in Firefox 53.

> We will no longer be shipping Adobe Primetime support in Firefox.
> So we should flip the pref to make it not appear by default in the add-on manager plug-in list, and thus render it invisible and disabled by default.
> The Adobe Primetime CDM was already not being downloaded by default

--> only removed in FF53: https://hg.mozilla.org/integration/autoland/rev/1d8062b87249
 and here: https://hg.mozilla.org/integration/autoland/rev/d47e700dbc36

except for the 2 'gmp-eme-adobe' prefs, `network.http.sendSecureXSiteReferrer` is the only pref that we are using from the `removed, renamed or hidden in v52beta` section.
We can strike-through (or whatever else we want to do to indicate no further action is required) all other prefs in that section.

I'd say lets use ...
* strike-through for things we don't want/need
* strike-through and bold for things we have already covered fe. `security.pki.sha1_enforcement_level`
* bold for things we may want to add or need investigation


`pref("network.cookie.leave-secure-alone", true);`

https://developer.mozilla.org/en-US/Firefox/Releases/52
Insecure sites (http:) can't [set cookies](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies) with the "secure" directive anymore as per the [Strict Secure Cookies specification](https://tools.ietf.org/html/draft-ietf-httpbis-cookie-alone-01) ([bug 976073](https://bugzilla.mozilla.org/show_bug.cgi?id=976073)).

```
pref("signon.autofillForms.http", false);
pref("security.insecure_field_warning.contextual.enabled", true);
```
https://www.fxsitecompat.com/en-CA/docs/2017/insecure-login-
forms-now-disable-autofill-show-warning-beneath-input-control/

Flip prefs to disable login autofill on HTTP and enable the warning on insecure login fields
VERIFIED FIXED in Firefox 52 => https://bugzilla.mozilla.org/show_bug.cgi?id=1217152

Flip a pref to disable autofilling saved password on HTTP pages. Flip a pref to enable showing insecure password warnings in the password field autocomplete drop down.
https://hg.mozilla.org/mozilla-central/rev/f0d146fe7317

Def do not want to double the lines with commentary. I think the bold strikethru is a bit convoluted .. just stick a word in before the pref part eg dont want, covered 2511. Once we have ticked off all the stuff we can, we can move everything down and move the unticked stuff to the top - I expect maybe 10-15 items.

FUCK lost all my formatting

I am not using strikethru and bold 

removed items is tricky, but easy - if we're not using it I can mark it as irrelevant, if it is used by us, then we have to wait for a stable to check is its not just hidden. Hope we don't edit at the same time.

makes you wonder why `media.gmp-eme-adobe.autoupdate` isn't removed

> makes you wonder why media.gmp-eme-adobe.autoupdate isn't removed

because it's set by the code itself and isn't in any of the pref.js-files.

https://dxr.mozilla.org/mozilla-release/source/toolkit/modules/GMPUtils.jsm#127
https://dxr.mozilla.org/mozilla-release/source/toolkit/mozapps/extensions/internal/GMPProvider.jsm#252

If we don't want `browser.shell.skipDefaultBrowserCheckOnFirstRun` should we also remove/comment-out `browser.shell.checkDefaultBrowser` ?
portableAppsFF already sets `browser.shell.checkDefaultBrowser;false` anyway, and non-portable users maybe would appreciate the prompt to make FF the default browser, IMO.

do not care about a `FirstRun` - it will flip itself. Waste of time with those things. But I do still want the other one set and kept (besides the fact that users can do it manually, it speeds up the startup by a nanosecond)

re: `security.pki.certificate_transparency.mode`

https://wiki.mozilla.org/PKI:CT
https://www.certificate-transparency.org/

Atm there are only 2 possible values:
> // Configures Certificate Transparency support mode:
> // 0: Fully disabled, 1: Only collect telemetry. CT qualification checks are not performed. (default)

https://bugzilla.mozilla.org/show_bug.cgi?id=1293231#c7
> We do turn on a flag on the TLS handshake which asks servers to send SCTs via TLS if available, but besides that there are no visible changes.
> The user can change it to the "disabled" mode which turns off all the CT related functionality (which is the TLS flag and the processing of incoming SCTs to generate telemetry).

When set to 1 it also shows additional information in the Security Dialog "Technical Details":
https://bug1305289.bmoattachments.org/attachment.cgi?id=8795781

It shows one of the following messages:
```
* None=This website does not supply Certificate Transparency audit records.
* OK=This website supplies publicly auditable Certificate Transparency records.
* UnknownLog=This website claims to have Certificate Transparency audit records, but the records were issued by an unknown party and cannot be verified.
* Invalid=This website supplies Certificate Transparency audit records, but the records failed verification.
```
based on this:
```
* The SCT is from a known log, and the signature is valid.  => OK
* The SCT is from an unknown log and can not be verified. => UnknownLog
* The SCT is from a known log, but the signature is invalid. => InvalidSignature
* The SCT signature is valid, but the timestamp is in the future.
   Such SCT are considered invalid (see RFC 6962, Section 5.2). =>InvalidSignature
```

afaik on the client-side the only thing that is eventually gonna change is that  "UnknownLog" and "Invalid" might get rejected, or at least display a warning.
If and when Chrome makes the first step, "None" might also get rejected.

[the Chrome team announced plans that publicly trusted website certificates issued in October 2017 or later will be expected to comply with Chrome’s Certificate Transparency policy in order to be trusted by Chrome.](https://groups.google.com/a/chromium.org/forum/?_escaped_fragment_=topic/ct-policy/78N3SMcqUGw#!topic/ct-policy/78N3SMcqUGw)

the pros and cons as I see it:
* `pref("security.pki.certificate_transparency.mode", 0);`
  * pros
    * don't ask for SCTs => less data-transmission, hence slightly faster
    * no parsing of the SCTs => less code to run thru; avoid potential flaws in that code
  * cons
    * no info under "Technical Details" => who really looks at that anyway?
    * no flag in the TLS handshake => probably fingerprintable -> who cares with all the prefs in 1200
    * we need to keep track of when mozilla changes the meaning of value 1 or adds more values

obviously for `1` the pros and cons are the exact opposite.

This can be done in three different ways:
- Certificate Embedding
- TLS Extension (flag in the TLS handshake)
- OCSP Stapling

I don't want to deal with 150+ ticks. Items we don't care about become bullet points. Un-checkboxed some items in the "added" section - not interested in: timers+queues, devtools, sync (we have a master switch), buffer+header sizes, and items already disabled (we will pick up on them if they get turned on, although gamepad could be one to enforce, but we have a master switch, but needs testing/checking). It was just a quick run thru to reduce the clutter.

We can ignore `dom.webnotifications.requireinteraction.count` and `dom.webnotifications.requireinteraction.enabled` because 2304 should cover it and even if not, it's still disabled at the moment. We can look into it when they set the latter to true.
IMO we can also ignore `identity.fxaccounts.contextParam` because that's part of SYNC and we have 0380

I don't see a problem with the 2 changed prefs: `javascript.options.wasm` Web Assembly is good. Likewise `dom.select_events.enabled` seems OK, unless I'm missing something.

I also don't see an issue with `media.wmf.vp9.enabled`. I'm also sure `"gfx.canvas.skiagl.dynamic-cache` shouldn't be messed with.

52 lands very soon (tomorrow?). I usually upgrade about a week after that. Some of these we can't do much about until they land, for further testing, and community feedback etc. A week seems good. But the more we can reduce that list above, the better.

Well, I'll definitely disable WASM in my own user.js. As for this user.js we also disable asm.js already and I think it's similar to that. I read the [security page](http://webassembly.org/docs/security/) and they do a lot of things right but it remains to be seen if it is as safe and hard-to-exploit as they make it out to be.
I don't use browser games or things like that so I don't think I'll ever need/want WebAssembly.

`dom.select_events.enabled` has been disabled so far and in my user.js I plan to keep it that way and see if it breaks something. For this user.js we can ignore it I'd say.

`media.wmf.vp9.enabled` - agreed
`gfx.canvas.skiagl.dynamic-cache` - sounds tricky so yeah better not mess with it

> 2502 isn't battery API removed?

no, it's not accessible for web-content anymore but they left the pref intact for use in addons, afaik.

`media.peerconnection.dtmf.enabled` - [Enable DTMF by default](https://bugzilla.mozilla.org/show_bug.cgi?id=1313406) -> not much info and I can't be bothered to research this so lets just disable it again IMO

`security.enterprise_roots.enabled` - useful in enterprise environments only, and most likely will remain default false forever. We can include it and enforce it to false but IMO lets ignore it for the sake of not ending up with 1000+ prefs all too soon ;)

- `gfx.canvas.skiagl.dynamic-cache` is a fallback "When Direct2D is not used on Windows, Skia is used instead for content rendering" - agreed, ignore it
- `media.wmf.vp9.enabled` - agreed
- `font.system.whitelist` - we've know about that for ages from tor uplift. Since its 52 landed, I want to add it to the font section section commented out - will do a patch. resistFingerpinting is suggestion to override this with a set list in future.
- battery API - will move to deprecated and comment out
- `wasm` .. umm disable it for now then?


wait - is `font.system.whitelist` a hidden pref?

> wait - is font.system.whitelist a hidden pref?

well, if it's not in any of the prefs.js files then yes, that's the definition of hidden pref.
But I can't be sure just yet because I haven't created a diff from the stable FF52, only for beta so far.

battery API - why deprecate it when it still exists?
I gave up trying to convince you of something so I'll leave it at that ;)

wasm - same as above, I'll resort to telling you what I'm doing for my user.js and you decide what you want to do for this user.js.

Well, I just updated to 52 .. it did a 25mb'ish DL and failed and then attempted a full DL of 58mb'ish and succeeded - yay for me.

battery API is no longer a privacy or security issue - Q.E.D. it can be left alone. If someone want to use an addon that warns of low battery, or FF wants to implement its usage to warn users, so be it.

Yeah, and now i'm on 52 I can see/check a lot of things. So yeah, hidden pref - I know what it means! :)

I have checked and confirmed the deprecated items, and have commented them out in my user.js. I am going to comment them out in a commit, and rename the file to FF52 with a new name etc. In a week or so when we have fine tuned it and added the rest, I will give it a new date and do a release.


> it did a 25mb'ish DL and failed and then attempted a full DL of 58mb'ish and succeeded - yay for me.

been there done that ;) It's because, I assume, you also have either deleted or renamed the pocket.xpi etc

hows this
```
/* 1409: only expose whitelisted system fonts (FF52+)
 * If the whitelist is empty, then whitelisting is considered disabled and all fonts are allowed.
 * [NOTE] Creating your own probably highly-unique whitelist will raise your entropy. We already
 * block sites choosing fonts in 1401, which makes this preference irrelevant. In future,
 * privacy.resistFingerprinting (see 2699) may cover this, and 1401 can be relaxed.
 * https://bugzilla.mozilla.org/show_bug.cgi?id=1121643 ***/
   // user_pref("font.system.whitelist", "");
```

I'm actually not sure what happens when 1401 and 1409 collide :)

Did a diff with FF52 and 2 things changed since the Beta diff:

`pref("dom.audiochannel.audioCompeting.allAgents", false);` // new pref
`pref("media.wmf.vp9.enabled", false);` // false instead of true in stable vs beta

^^ just as well we ignored vp9, and that audio looks boring .. sweeet, so we'll use this as out final diff then

`prompts.authentication_dialog_abuse_limit` is the fix/workaround for [CVE-2017-5419](https://www.mozilla.org/en-US/security/advisories/mfsa2017-05/#CVE-2017-5419)

nice .. so do we add it and enforce it? lower it to 2 just to be different and edgy?

https://www.mozilla.org/en-US/security/advisories/mfsa2017-05/#CVE-2017-5407  .. awesome, another svg for ya. Can't wait for it to be turned off in 53

hmmm .. the 52 upgrade altered my inner window height by 2 pixels less .. check yours (seems a heap of people had the same result as me too)

SKIA looks cool from iCandy point of view.
Now the
`user_pref("gfx.direct2d.disabled", true);`
`user_pref("layers.acceleration.disabled", true);`
does not jerks the fonts. :)


@crssi It does all seem a lot smoother :)

`logging.config.clear_on_startup` - don't need see comment notation
`prompts.authentication_dialog_abuse_limit` - at default is fine, it will probably never change
`wasm` added

> the 52 upgrade altered my inner window height by 2 pixels less

damn son, how the hell did you notice that so fast??!! It also changed my height by 1 pixel. Thanks for pointing it out!

wasm is only supported in Firefox at the moment, so we should be good with disabling it for now.
It sounds to me like it's primarily designed for mobile. see [here](https://medium.com/mozilla-tech/why-webassembly-is-a-game-changer-for-the-web-and-a-source-of-pride-for-mozilla-and-firefox-dda80e4c43cb#.rllmgx5dx)

> We’re particularly excited about the potential on mobile — do all those apps really need to be native?

`narrate.enabled` - is only accessible in the Reader View (which we have disabled) and also relies on `media.webspeech.synth.enabled` (also disabled)
Its only used once in [DXR](https://dxr.mozilla.org/mozilla-central/source/toolkit/components/reader/AboutReader.jsm#126) and is not even looked at `if win.speechSynthesis == false` 

> damn son, how the hell did you notice that so fast??

Because I was testing what the new font whitelist did to panopticon and jodonym and spotted the high entropy for res (i was 2 pixel probably due a slight CTR tweak). BTW, that default font whitelist has somehow altered my font usage, at least on one site. Like I said, not sure what happens when the two collide. But with whitelist at empty, the tests don't report any changes. Might have a play one day.

1409: I don't see real collisions. I'm looking at a reduced list from the most common OS (Windows 7) but without the fonts from Office or Adobe Creative Suite installs.
https://bugzilla.mozilla.org/show_bug.cgi?id=1121643#c5

@Atavic, what he means is if due to 1401 only the 3 fonts in 1404 are allowed/used, and what would happen if someone would add f.e. only one font into the whitelist, but one that is not in 1404.

@Atavic by collision I meant what actually happens when I test with disabling fonts `(1401: "browser.display.use_document_fonts", 0)` AND when I implement a whitelist. I haven't looked at the code, so I am not sure which one overrides the other. I was intrigued that panopticlick thinks I have wingdings 2 & 3 (I don't) - maybe its a coding error because that's all it shows, and it is 1 in 14.59 browsers. I was thinking of testing if adding a whitelist that excluded those would prove that it was an error.

As earthlng just said. I can try a bunch of tests. Both prefs used together, only one pref used at a time. And when both prefs used, use a matching set and contrasting sets. Tor Uplift has a ticket in to enforce a whitelist under resistFingerprinting, so time will tell what the hell I do. For now I'll probably just leave fonts blocked - grown used to my wee set.


1409: is a whitelist for the sites, while the rest is locally managed in the browser.

Well, I don't know if that's correct. For one it's never `announced` to webservers - they can test if one or another exists but it's never announced as "this is the list of fonts you can use". Flash is different, but that can be dealt with too.
I remember reading in one of the bugzillas way back when, that a collision could indeed happen. Idk if they addressed/fixed that but I suspect they did.

Hey Pantsy, thanks for pointing out the `pref("logging.config.clear_on_startup", true)` - it's actually quite interesting - not the pref itself (we can safely ignore that), but the feature behind it.

Yeah well, I went to about:networking and there is no logging tab (must be another pref to switch that on), so I thought .. F it, its clearly for debugging etc for devs and I see no threat for normal everyday users

![about_networking_-_2017-03-09_06 23 51](https://cloud.githubusercontent.com/assets/16656956/23715370/436d4248-0491-11e7-9e91-eb24b7af4def.png)

The buttons are there to the right of the all the text items, but I don't see them. It's all nutbars and crazypants going on in here :)

This collaboration on the diffs worked out really nicely. Much easier than both of us doing it on our own.
And we now have a permanent log of what exactly we did with each pref. very nice (read in Borat voice)

about:networking works just fine here... you must be blocking something with uBO or uMatrix. ;)

FT DeepDark causes it. The whole page loses shape and form

`network.auth.private-browsing-sso` not messing with this: https://dxr.mozilla.org/mozilla-central/source/netwerk/protocol/http/nsHttpNTLMAuth.cpp#97

`security.csp.enableStrictDynamic` - also not touching this, go look at DXR, nothing to go on. Looks like it's all tests except for the line in nsCSPParser.cpp

`media.peerconnection.dtmf.enabled` - also not touching [Zilla link for reference](https://bugzilla.mozilla.org/show_bug.cgi?id=1313406) . [Dual-tone multi-frequency signaling (DTMF)](https://en.wikipedia.org/wiki/Dual-tone_multi-frequency_signaling) or in other words .. touch tones. We already have WebRTC switched off.

gee .. only 2 to go

`security.pki.certificate_transparency.mode` - I am inclined to leave it as is at value 1

Left at 1 we ask for the SCT: this means
- an not concerned at the extra code to run, time taken etc. It's minuscule. I also doubt there will be a flaw, it;'s unlikely.
- we get info under "Technical Details" - sweet, knowledge is power
- we set a flag in the TLS handshake => probably FP-able. We're already FP'able (not that we don't try to limit it)

>  we need to keep track of when mozilla changes the meaning of value 1 or adds more values

Yes, we will pick up on diffs between releases. Note, as long as we compare the right versions and don't miss any minor diffs - i.e if the next diff is 53beta, then it needs to be diff'ed against 52.0, not 52.01.

1 left - someone make a case for `dom.select_events.enabled` which was a value that was flipped to true. There is also `dom.select_events.textcontrols.enabled` which is new, which I only mention because I think @earthlng has a thing for dom.select and I might have ignored that new pref in error.

`security.pki.certificate_transparency.mode` - yes, whatever, but we should definitely add it.
I was leaning more towards adding it with 0 because it offers not protection at the moment, but 1 is just fine - to quote Tom ;)

`Yes, we will pick up on diffs between releases.` - it depends. if they change the meaning of 1 or add more values but don't change the current default - we won't notice it in the diffs.

I'll do diffs for minor versions too - it only takes a minute or so anyway. Since I'm now doing the diffs by parsing the prefs.js files, I don't have to install it anymore and could even do diffs for each new Beta.
-> download the setup, point my script at the setup to extract the files, define which versions to compare, wait a bit and voila - diff created.

> I might have ignored that new pref in error

not really. it's default false atm so it doesn't matter

so back to 2 left. What am I supposed to do? read minds? Paste the proposed code IN HERE.

If u want to add `security.pki.certificate_transparency.mode` so it's listed to be comprehensive and to remind us to revisit it etc, it should be at 1 IMO. 1 is the setting to make shit more secure/validated (right?), so that was we're going to do. I don't buy the reasons you say for changing it to zero.

As for the other one left, I have no idea what its about. I think u said you were disabling it in yours. I can't read your mind or understand why. Seems fine to me (yes I did research it)

So I'm at an impasse to finish this ticket.

> I don't buy the reasons you say for changing it to zero

wow, that's a pretty loaded statement. What exactly do you think I was trying to sell?

> I was leaning more towards adding it with 0 because it offers not protection atm

If you're referring to this, that's not trying to sell anything it's just stating an undisputed fact.

My reason: If I can disable some code-parts that don't offer anything protection-wise and only show a message that I never look at anyway, and by doing so completely prevent any potential flaws in those code-parts - it's a win-win and I will do that without hesitation any day of the week, at least until that feature starts doing something meaningful.
Admittedly there's probably close to zero risk for flaws in those code-parts, but why risk it if it doesn't offer me anything anyway, and it's as simple as changing a single pref to make 100% sure.

We disable a lot of things for which there's no immediate threat or vulnerability, like fe. disable some more exotic and rare media formats like raw and wave. That's why I was playing with the idea of also disabling `security.pki.certificate_transparency.mode`, at least for now.

> Paste the proposed code IN HERE.

Proposal: ignore both remaining prefs and add `security.pki.certificate_transparency.mode` to the `list of prefs "to keep an eye on"`


test only:  [blabla](https://github.com/ghacksuserjs/ghacks-user.js/issues/37#changed)